button {
  margin: 0 0 0 10px;
}
.custom-btn {
  width: fit-content;
  min-width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-family: 'Lato', sans-serif;
  font-weight: 500;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  transition: all 0.3s ease-in-out;
}

/* 7 */
.btn-7 {
  background: linear-gradient(
    0deg,
    var(--primary-gradient) 0%,
    var(--primary) 100%
  );
  line-height: 42px;
  padding: 0;
  border: none;
}

.btn-7 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}

.btn-7.blue {
  background: linear-gradient(0deg, var(--blue-gradient) 0%, var(--blue) 100%);
}
.btn-7.red {
  background: linear-gradient(0deg, var(--red-gradient) 0%, var(--red) 100%);
}
.btn-7.orange {
  background: linear-gradient(
    0deg,
    var(--orange-gradient) 0%,
    var(--orange) 100%
  );
}
.btn-7.purple {
  background: linear-gradient(
    0deg,
    var(--purple-gradient) 0%,
    var(--purple) 100%
  );
}

.btn-7:before,
.btn-7:after {
  position: absolute;
  content: '';
  right: 0;
  bottom: 0;
  background: var(--primary);
  box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease;
}

.btn-7.blue:before,
.btn-7.blue:after,
.btn-7.blue span:before,
.btn-7.blue span:after {
  background: var(--blue);
}
.btn-7.red:before,
.btn-7.red:after,
.btn-7.red span:before,
.btn-7.red span:after {
  background: var(--red);
}
.btn-7.orange:before,
.btn-7.orange:after,
.btn-7.orange span:before,
.btn-7.orange span:after {
  background: var(--orange);
}
.btn-7.purple:before,
.btn-7.purple:after,
.btn-7.purple span:before,
.btn-7.purple span:after {
  background: var(--purple);
}

.btn-7.blue:hover {
  color: var(--blue);
}
.btn-7.red:hover {
  color: var(--red);
}
.btn-7.orange:hover {
  color: var(--orange);
}
.btn-7.purple:hover {
  color: var(--purple);
}

.btn-7:before {
  height: 0%;
  width: 2px;
}
.btn-7:after {
  width: 0%;
  height: 2px;
}
.btn-7:hover {
  color: var(--primary);
  background: white;
}
.btn-7:hover:before {
  height: 100%;
}
.btn-7:hover:after {
  width: 100%;
}
.btn-7 span:before,
.btn-7 span:after {
  position: absolute;
  content: '';
  left: 0;
  top: 0;
  background: var(--primary);
  /*box-shadow: -7px -7px 20px 0px rgba(255, 255, 255, 0.9),
    -4px -4px 5px 0px rgba(255, 255, 255, 0.9),
    7px 7px 20px 0px rgba(0, 0, 0, 0.2), 4px 4px 5px 0px rgba(0, 0, 0, 0.3);
  */
  transition: all 0.5s ease;
}
.btn-7 span:before {
  width: 2px;
  height: 0%;
}
.btn-7 span:after {
  height: 2px;
  width: 0%;
}
.btn-7 span:hover:before {
  height: 100%;
}
.btn-7 span:hover:after {
  width: 100%;
}
