.testimonial-carrousel {
  position: relative;
  /*max-width: 1280px;*/
  height: fit-content;
  width: 100%;
  margin: 0 auto 50px auto;
  padding: 30px 0 30px 0;
}

.testimonial-container {
  position: relative;
  height: 355px;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}
.testimonials-btn-container {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 300px;
  height: 355px;
  margin: 0 auto;
  z-index: 20;
}
.testimonial-inner {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  margin: 0 auto;
}

.testimonial-card {
  background-color: white;
  position: relative;
  flex: none;
  padding: 20px;
  width: 100%;
  min-height: 355px;
  /*border: 1px solid lightgray;*/
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  z-index: 20;
}
.testimonial-card p {
  line-height: unset;
}
.tag {
  display: block;
  padding: 5px 10px;
  border-radius: 7px;
  color: white;
}
.author {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  font-weight: 600;
  padding-top: 10px;
  font-size: 0.875rem;
}
.testimonial-card h3 {
  width: 100%;
  font-size: 1.15rem;
  margin: 13px 0 8px 0;
  text-align: center;
}
.testimonial-card p {
  text-align: center;
  margin: 6px 0;
}
.carrousel-prev,
.carrousel-next {
  width: fit-content;
  height: fit-content;
  width: 50px;
  height: 50px;
  display: none;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: rgba(62, 147, 125, 1);
  border-radius: 25px;
  position: absolute;
  top: 40%;
  font-size: 1.5rem;
  border: 1px solid rgba(62, 147, 125, 1);
  line-height: 0;
  z-index: 30;
}
.carousel-prev:hover,
.carousel-next:hover {
  text-decoration: none;
  background-color: white;
  color: rgba(62, 147, 125, 1);
}
.carrousel-prev {
  left: -60px;
  margin: 0;
}
.carrousel-next {
  right: -60px;
  margin: 0;
}
.testimonials-btn-container .small-btn.active {
  border: 1px solid black;
}
.testimonials-btn-container .ctrl-btns {
  margin-bottom: -30px;
}
.testimonials-btn-container .small-btn {
  margin: 0px 7px 0px 7px;
  background-color: white;
}
.testimonials-btn-container .small-btn.active {
  background-color: grey;
}

@media screen and (min-width: 450px) {
  .testimonial-container {
    height: 300px;
  }
  .testimonials-btn-container {
    height: 300px;
  }
}

@media screen and (min-width: 768px) {
  .testimonial-container {
    max-width: 600px;
    height: 300px;
  }
  .testimonials-btn-container {
    max-width: 600px;
    height: 300px;
  }
  .carrousel-prev,
  .carrousel-next {
    display: flex;
  }
  .testimonial-card {
    width: 580px;
    min-height: 260px;
    margin: 0 10px;
  }
  .author {
    padding-top: 20px;
    font-size: 1rem;
  }
}
@media screen and (min-width: 1000px) {
  .testimonial-container {
    max-width: 730px;
  }
  .testimonials-btn-container {
    max-width: 730px;
  }

  .testimonial-card {
    width: 730px;
  }

  .values {
    text-align: center;
  }
}
