.partners {
  width: 100%;
  padding-bottom: 40px;
  background-color: var(--green-fog);
  box-shadow: 0 -20px 30px var(--green-fog);
}
.partners h3 {
  text-align: center;
  color: #555555;
}
.partners-container {
  width: 100%;
  max-width: 1280px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}
.partners-container img {
  margin: 15px 0;
  object-fit: cover;
}

@media screen and (min-width: 650px) {
  .partners-container {
    flex-direction: row;
  }
  .partners-container img {
    margin: 0;
  }
}
